footer{
    display:flex;
    background: #F8F8F8;
    margin: 0;
}

.kiri{
    width: 50%;
    margin: 90px;
}
.kiri .sosmed {
    display: flex;
    width: 50%;
    
}

.kiri .sosmed .icon-sosmed {
    padding-left: 15px;
    margin: 20px;
    width: 10px;
}
 .sosmed .icon-sosmed:hover {
    color: #0B132A;
    font-weight: 700;
    cursor: pointer;
}

.kiri .ket-footer{
    width: 40%;
    justify-content: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-left: 40px;
}

.kanan{
    width: 50%;
    margin: 20px; 
}

.kanan .footer-kanan{
    display: flex;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #4F5665;
}

.kanan .footer-kanan .icon-kanan{
    margin: 40px;
}

.icon-kanan li{
    list-style-type: none;
}

.icon-kanan li:hover {
    color: #0B132A;
    font-weight: 700;
    cursor: pointer;
}

