@media screen and (max-width: 576px){
    footer{
        display: none !important;
       
    }
    .left{
        display: none;
    }
}

footer{
    display:flex;
    background: #F8F8F8;
   
}
.left{
    width: 50%;
    margin: 150px;
    margin-left: 200px;
}
.logo-footer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.logo-footer h1{
    width: 50%;
    display: flex;
    font-size: 20px;
    margin-left: 10px;
    color:black;
    margin-top: 80px;
    
}


.left .sosmed {
    display: flex;
    width: 50%;
    
}

.left .sosmed .icon-sosmed {
    margin: 40px;
    width: 10px;
}
 .sosmed .icon-sosmed:hover {
    font-weight: 700;
    cursor: pointer;
}

.left .ket-footer{
    width: 50%;
    justify-content: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-left: 50px;
    margin-top: -70px;
}

.left .copyright{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #AFB5C0;
    margin-left: -160px;
}

.right-footer{
    width: 50%;
    margin-left: 200px;
    margin-top: 110px;
}

.right-footer .footer-right{
    display: flex;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #4F5665;
    margin-top: 95px;
}


.icon-right li{
    margin-left: 50px;
    height: 50px;
    list-style-type: none;
    justify-content: center;
   
}

.icon-right li:hover {
    color: #0B132A;
    font-weight: 700;
    cursor: pointer;

}

