@media screen and (max-width: 576px){
    /* navbar */
    nav{
        flex-direction: column;
    }  
    .logo{
        text-align: flex-start;
        align-items: flex-start;
  
        padding-left: 30px;
    } 
   
    .primary-menu .menu{ 
      flex-direction: column !important;
    }
    .signup{
        margin-left: 70px; 
     
    }
 
  

}


body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
nav{
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 10px #cccccc;
    display: flex;
}
.logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.icon-menu img{
    width: 50px;
    display: none;
  }


.logo h1{
    font-size: 20px;
    margin-left: 10px;
    
}
.primary-menu 
{
    width: 40%;
    display: flex;
    justify-content: center; 
}
.primary-menu .menu
{
    display: flex;
    list-style-type: none;
}
.primary-menu .menu li {
    margin: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #4F5665;
    cursor: pointer;
}
.primary-menu .menu li:hover {
    color: #6A4029;
    font-weight: 700;
}
.primary-menu .menu li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #4F5665;
    cursor: pointer;
}
.primary-menu .menu li a:hover {
    color: #6A4029;
    font-weight: 700;
}
.secondary-menu {
    width: 30%;
}
.secondary-menu .menu{
    display: flex;
    list-style-type: none;
}
.secondary-menu .menu li {
    margin: 15px;
    font-size: 16px;
    cursor: pointer;
}
.secondary-menu .menu li a{
    text-decoration: none;
    font-weight: 700;
}
.login{
    color: black;
}
.login:hover{
    color: #4F5665;
}
.signup{
    background-color: #ffba33; 
    padding: 10px 25px;
    color: #6A4029;
    width: 150px;
    background: #FFBA33;
    border-radius: 50px;
}
.signup:hover{
    background-color: #6A4029;
    color: white;
    cursor: pointer;
}