@media screen and (max-width: 576px){
    footer{
        display: none !important;
        margin-top: 550px;
        flex-direction: column;
    }
    footer .center{ 
        display: none !important;
        
    }
    .left{
     display: none;
    }
    
    .right{
      display: none;
    }


    
}


footer{
    display:flex;
    background: #F8F8F8;

}



footer .center{   
    position: absolute;
    display: flex;
    width: 1360px;
    height: 233px;
    left: 290px;
    top: 1000px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px #cccccc;
    border-radius: 10px;
}

.center .left{
    margin: 30px 140px;
}
.center .left h1{
    width: 371.61px;
    height: 80px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #0B132A;
}
.center .left p{
    position: absolute;
    width: 410px;
    height: 1px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4F5665;
}

.center .right button{
    width: 250px;
    height: 60px;
    background: #FFBA33;
    border-radius: 10px;
    border: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #6A4029;
    justify-content: center;
    margin-top: 80px;
    margin-left: -90px;
}

.center .right button:hover{
    background-color: #6A4029;
    color: white;
}

.left{
    width: 50%;
    margin: 250px;
    margin-left: 150px;
}

.logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.logo h1{
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Rubik';  
}

.left .sosmed {
    display: flex;
    width: 50%;
    
}

.left .sosmed .icon-sosmed {
    margin: 20px;
    width: 10px;
}
 .sosmed .icon-sosmed:hover {
    color: #0B132A;
    font-weight: 700;
    cursor: pointer;
}

.left .ket-footer{
    width: 50%;
    justify-content: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-left: 16px;
}

.right{
    width: 50%;
    margin-left: 400px;
    
}

.right .footer-right{
    display: flex;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #4F5665;
    margin-left: -130px;
    margin-top: 250px;
}


.icon-right li{
    margin-left: 30px;
    height: 50px;
    list-style-type: none;
    justify-content: center;
   
}

.icon-right li:hover {
    color: #0B132A;
    font-weight: 700;
    cursor: pointer;

}

